.App {
	text-align: left;
	font-family: "Comic Sans MS";
}
body {
	background-size: 300px 354px;
	background-repeat: no-repeat;
	background-color: white;
	background-attachment: fixed;
	background-position: right top;
	margin-right: 20px;
	margin-left: 10px;
}
#logo {
	color: rebeccapurple;
	font-family: "Comic Sans MS";
	text-align: center;
	font-size: 50px;
}
#button {
	background-color: #008080;
	color: white;
	padding: 6px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}
#diary {
	margin: 20px;
	align-items: center;
	background-color: white;
	border-radius: 20px;
}
#diary_info {
	padding: 5px;
	padding-bottom: 0px;
}
#notes {
	padding: 5px;
}
#card {
	background-color: rgb(199, 184, 228);
	border-radius: 20px;
	/* max-width: 18em; */
}
#heading1 {
	font-family: "Comic Sans MS";
	font-size: 22px;
}
#button1 {
	background-color: rgb(199, 184, 228);
	color: dodgerblue;
	border: none;
}
@media (min-width: 1200px) {
	#card-columns {
		column-count: 4;
	}
}
@media (max-width: 1200px) {
	#card-columns {
		column-count: 3;
	}
}
@media (max-width: 885px) {
	#card-columns {
		column-count: 2;
	}
}
@media (max-width: 576px) {
	#card-columns {
		column-count: 1;
	}
}
#text {
	white-space: pre-wrap;
	text-align: left;
}
/* function textAreaAdjust(o) {
  o.style.height = "1px";
  o.style.height = (25+o.scrollHeight)+"px";
} */
#textarea_notes {
	width: 100%;
	height: 150px;
}
.title {
	font-size: 2rem;
	text-align: center !important;
	margin-top: 10%;
	color: #4aa1f3;
	font-weight: bold;
}

.content {
	background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
